global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - "alerts.yaml"

scrape_configs:
  - job_name: 'kubernetes-nodes'
    kubernetes_sd_configs:
      - role: node

  - job_name: 'credit-scoring-api'
    static_configs:
      - targets: ['credit-scoring-service:8000']

  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs:
      - role: pod