name: Deploy to Production

on:
  workflow_dispatch:  

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to production
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG_PRODUCTION }}
        run: |
          kubectl apply -f deployment/manifests/ --kubeconfig $KUBECONFIG