name: Rollback

on:
  workflow_dispatch

jobs:
  rollback:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Rollback deployment
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          kubectl rollout undo deployment credit-scoring-api --kubeconfig $KUBECONFIG